<p id="notice"><%= notice %></p>

<h1>Books</h1>


<%= search_form_for @q do |f| %>
<%= f.label :name %>
<%= f.text_field :name_cont, class: 'form-control' %>
<%= f.submit class: 'btn btn-primary' %>
<div class="form-group"><%= f.label :year %>
<%= f.text_field :year_eq, class: 'form-control' %></div>
<div class="form-group"><%= f.label :price, "Price" %>
<%= f.text_field :price_lteq, class: 'form-control' %>
<%= f.text_field :price_gteq, class: 'form-control' %></div>
<div class="form-group"><%= f.label :genre %>
<%= f.select(:genre_eq, options_for_select(Book.genres.map {|k, v| [k.humanize.capitalize, v]}, f.object.genre_eq), { include_blank: true }, {class: "form-control" }) %></div>
<div class="form-group"><%= f.check_box :status_true, include_hidden: false %>
<%= f.label :status, 'Active' %></div>
<% end %>
<%= link_to "Clear", request.path, class: "btn btn-default" %>


<table>
  <thead>
    <tr>
      <th>Isbn</th>
      <th><%= sort_link(@q, :name) %></th>
      <th>Author</th>
      <th>Year</th>
      <th>Price</th>
      <th>Status</th>
      <th>Genre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.isbn %></td>
        <td><%= book.name %></td>
        <td><%= book.author %></td>
        <td><%= book.year %></td>
        <td><%= book.price %></td>
        <td><%= book.status %></td>
        <td><%= book.genre %></td>
        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>
<%= will_paginate @books, list_classes: %w(pagination justify-content-end) %>